

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 100%);
}
span{
    color: rgb(169, 170, 170);
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.info_block{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.fit-content{
    width: fit-content;
}
@media (max-width: 740px) {
    span{
        color: rgb(169, 170, 170);
        font-size: 12px;
    }
}